Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

frontend-integrity-check:
  name: Frontend Integrity Check
  entry: node scripts/verify-frontend-integrity.js
  language: node
  pass_filenames: false
  always_run: false

component-version-check:
  name: Component Version Check
  entry: bash
  language: bash
  args:
  - -c
  ...

accessibility-quick-check:
  name: Quick Accessibility Check
  entry: bash
  language: bash
  args:
  - -c
  ...

prevent-critical-changes:
  name: Prevent Unauthorized Critical Changes
  entry: bash
  language: bash
  args:
  - -c
  ...

html-validation:
  name: HTML Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

js-syntax-check:
  name: JavaScript Syntax Check
  entry: node
  language: node
  args:
  - -c
  - console.log('‚úÖ JavaScript syntax check passed')

no-mock-data:
  name: No Mock Data in Production
  entry: bash
  language: bash
  args:
  - -c
  ...

no-secrets:
  name: No Secrets or Tokens
  entry: bash
  language: bash
  args:
  - -c
  ...

playwright-test-validation:
  name: Playwright Test Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

security: Replace hardcoded Supabase Service Key with environment variable
  verify-filter-logic.js
Due: no-secrets

fix: Corrected demo routes for unified Google Calendar
  src/routes/demo-apis.ts
Due: none

fix: Rename google.js to google-oauth.routes.js and add new WhatsApp v3 services
  src/cron/conversation-outcome-processor.ts
  src/index.ts
  src/routes/google-oauth.routes.js
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/conversation-outcome-analyzer.service.ts
  src/services/deterministic-intent-detector.service.ts
  src/services/flow-lock-manager.service.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/services/webhook-v3-flow-integration.service.ts
  src/services/webhook/ConversationHistoryPersistence.ts
  src/types/flow-lock.types.ts
  src/utils/ai-config.ts
  src/utils/conversation-context-helper.ts
  src/utils/demo-token-validator.ts
Due: no-secrets

remove: Delete obsolete google.js after rename to google-oauth.routes.js
  src/routes/google.js
Due: no-secrets

fix: Corrige persistência de conversation_outcome para última mensagem da conversa
  src/services/conversation-outcome-analyzer.service.ts
Due: none

fix: Remove fallback 'general' do deterministic intent detector
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/services/webhook-v3-flow-integration.service.ts
Due: none

fix: Remove fallback 'general' and 'unknown' from intent detection system
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/webhook-flow-orchestrator.service.ts
Due: none

refactor: Reimplement deterministic intent detector with new patterns
  src/services/deterministic-intent-detector.service.ts
Due: none

feat: Implement 3-layer intent classification system with LLM fallback
  src/services/intent-disambiguation.service.ts
  src/services/llm-intent-classifier.service.ts
  src/services/webhook-flow-orchestrator.service.ts
  test-3layer-intent-system.js
Due: no-secrets

fix: Correct JSON response format compatibility for gpt-4 model
  src/services/llm-intent-classifier.service.ts
Due: none

fix: Remove último fallback 'unknown' do deterministic intent detector
  src/services/deterministic-intent-detector.service.ts
Due: none

feat: Implement intent validation system with comprehensive testing
  src/routes/demo-apis.ts
  src/services/webhook-flow-orchestrator.service.ts
  tsconfig.deploy.json
Due: no-secrets

feat: Implement intent validation system with comprehensive testing
  .gitignore
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/ai-complex.service.js
  src/services/deterministic-intent-detector.service.ts
  src/services/webhook-flow-orchestrator.service.ts
Due: no-secrets

fix: Complete demo validation system with UI improvements
  src/frontend/demo.html
  src/routes/demo-apis.ts
  src/utils/google-token.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Implement single-route architecture for demo integration with WhatsApp v3
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/message-handler.ts
Due: none

feat: Eliminate all gpt-4 hardcodes and implement 3-model fallback system
  src/frontend/demo.html
  src/routes/demo-apis.backup.ts
  src/routes/demo-apis.reduzida.ts
  src/routes/demos-apis.now.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/agents/beauty-agent.js
  src/services/agents/consulting-agent.js
  src/services/agents/education-agent.js
  src/services/agents/general-agent.js
  src/services/agents/healthcare-agent.js
  src/services/agents/legal-agent.js
  src/services/agents/other-agent.js
  src/services/agents/sports-agent.js
  src/services/ai-complex.service.d.ts
  src/services/calendar.service.js
  src/services/multimodal-helpers.service.js
  src/utils/ai-config.ts
  src/utils/demo-token-validator.ts
  test-models.mjs
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Remove remaining gpt-4 defaults throughout system
  src/services/ai-complex.service.js
  src/services/webhook-flow-orchestrator.service.ts
  src/utils/ai-models.ts
Due: no-secrets

feat: Eliminate all mocks and fix critical webhook system issues
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/ai-complex.service.js
  src/services/message-handler.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/utils/ai-config.ts
Due: no-secrets

fix: Correct spread operator usage in telemetryData handling
  src/services/message-handler.ts
Due: none

feat: Enable onboarding for users with incomplete registration data
  src/frontend/demo.html
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/webhook-flow-orchestrator.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Implement WhatsApp-like demo flow and fix tenant creation issues
  src/frontend/demo.html
  src/routes/demo-apis.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Implement humanized multi-stage timeout system and complete profile validation
  .gitignore
  CLAUDE.md
  docs/database/cleaned-schema-analysis.md
  docs/universal-booking-system.md
  src/frontend/demo.html
  src/index.ts
  src/routes/calendar-webhook.js
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/bot-identity.service.ts
  src/services/calendar-sync-bidirectional.service.js
  src/services/calendar.service.js
  src/services/deterministic-intent-detector.service.ts
  src/services/flow-lock-manager.service.ts
  src/services/llm-intent-classifier.service.ts
  src/services/user-profile.service.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/types/database.types.d.ts
  src/types/flow-lock.types.ts
  src/utils/conversation-context-helper.ts
  src/utils/demo-token-validator.ts
  src/utils/response-composer.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Resolve session_id_uuid persistence issue in conversation history
  src/frontend/demo.html.current-backup
  src/index.ts
  src/middleware/resolve-tenant.ts
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/calendar.service.js
  src/services/flow-lock-manager.service.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/types/database.types.ts
  src/utils/conversation-context-helper.ts
  src/utils/phone.ts
Due: frontend-integrity-check, no-secrets

feat: Remove duplicate conversation outcome processor initialization
  src/index.ts
Due: none

fix: Corrigir demo interativa - campos obrigatórios e token HMAC
  src/frontend/demo.html
  src/routes/demo-apis.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Remover emojis problemáticos dos console.log no demo.html
  src/frontend/demo.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Corrigir estrutura JavaScript e duplicações no demo.html
  src/frontend/demo.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Implement professional services linking and comprehensive code quality improvements
  .eslintrc.js
  src/frontend/demo.html
  src/routes/demo-apis.reduzida.backup.ts
  src/routes/demo-apis.reduzida.ts
  src/routes/demo-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  tsconfig.eslint.json
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Complete general commit with all remaining changes
  check-demo-data.js
  check-demo-evidence.js
  demo.html
  package-lock.json
  package.json
  src/cron/conversation-outcome-processor.ts
  src/frontend/demo.backup.html
  src/index.ts
  src/middleware/resolve-tenant.ts
  src/routes/admin.js
  src/routes/demo-apis.textClipping
  src/routes/super-admin-dashboard-apis.ts
  src/routes/whatsapp-webhook-v3.routes.backup.ts
  src/services/ai-complex.service.js
  src/services/ai-enhanced.service.js
  src/services/ai-testing.service.js
  src/services/metrics-analysis-corrected.service.ts
  src/services/ml-analytics.service.ts
  src/services/voice-processing.service.js
  src/services/webhook-flow-orchestrator.service.backup.ts
  src/services/whatsapp-button.service.js
  src/utils/conversation-context-helper.ts
  src/utils/google-token.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Resolve conversation outcome system and eliminate redundant code
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/conversation-outcome-analyzer.service.ts
  src/services/webhook-flow-orchestrator.service.ts
  src/services/webhook/ConversationHistoryPersistence.ts
Due: none

fix: Clean conversation_context persistence and improve date handling
  database/migrations/009_system_alerts_table.sql
  src/config/database.ts
  src/frontend/demo.html
  src/index.ts
  src/middleware/dashboard-auth.middleware.ts
  src/middleware/metrics-cache.middleware.ts
  src/middleware/resolve-tenant.ts
  src/routes/demo-apis-backup.ts
  src/routes/demo-apis.ts
  src/routes/intent-monitoring.routes.ts
  src/routes/schema-validation.routes.ts
  src/routes/super-admin-dashboard-apis.ts
  src/routes/whatsapp-webhook-v3.routes.ts
  src/services/contextual-policies.service.ts
  src/services/conversation-outcome-analyzer.service.ts
  src/services/deterministic-intent-detector.service.ts
  src/services/intent-cascade-monitor.service.ts
  src/services/llm-intent-classifier.service.ts
  src/services/schema-validator.service.ts
  src/services/user-profile.service.ts
  src/services/webhook-flow-orchestrator.service.ts.backup
  src/services/webhook-v3-flow-integration.service.ts
  src/services/webhook/ConversationHistoryPersistence.ts
  src/types/database.types.ts
  src/types/flow-lock.types.ts
  src/types/intent.types.ts
  src/utils/conversation-context-helper.ts
  src/utils/demo-token-validator.ts
  src/utils/intent-validator.util.ts
  supabase/.temp/cli-latest
  tools/full-outcome-test.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Implement correct processing_cost_usd calculation and persistence
  src/contracts/conversation.ts
  src/core/finalize.ts
  src/services/llm-intent-classifier.service.ts
  src/services/persistence/conversation-history.persistence.ts
  src/services/webhook-flow-orchestrator.service.ts
Due: none

fix: Correct demo conversations message_source persistence
  docs/REFACTOR-MESSAGE-SOURCE-FIX.md
  src/routes/demo-apis.ts
  src/routes/webhook/webhook-cache.service.ts
  src/routes/webhook/webhook-database.service.ts
  src/routes/webhook/webhook-main.routes.ts
  src/routes/webhook/webhook-message-parser.ts
  src/routes/webhook/webhook-routes-core.ts
  src/routes/webhook/webhook-validation.middleware.ts
  src/routes/webhook/webhook.types.ts
  src/services/orchestrator/appointment-flow.service.ts
  src/services/orchestrator/business-info-flow.service.ts
  src/services/orchestrator/data-collection-orchestrator.ts
  src/services/orchestrator/intent-detection-orchestrator.ts
  src/services/orchestrator/onboarding-flow.service.ts
  src/services/orchestrator/orchestrator-core.service.ts
  src/services/orchestrator/orchestrator.types.ts
  src/services/orchestrator/response-generation-orchestrator.ts
  src/services/orchestrator/telemetry-orchestrator.ts
  src/services/orchestrator/types/orchestrator.types.ts
  src/services/orchestrator/user-data-extraction.utils.ts
  src/services/webhook-flow-orchestrator.service.ts
Due: frontend-integrity-check, no-secrets

fix: Resolve hardcoded tenant issues and implement dynamic tenant resolution
  src/routes/demo-apis.ts
  src/utils/dynamic-tenant-resolver.ts
Due: none

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$
