Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$

feat: Add publication_date field and Editorial Hub improvements
  database/migrations/021_add_publication_date_to_editorial_content.sql
  scripts/apply-publication-date-migration.ts
  src/frontend/editorial-hub-preview.html
  src/routes/editorial-content.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Correct all TypeScript compilation errors and add production deploy script
  scripts/deploy-production.sh
  src/routes/canva-hybrid-video.routes.ts
  src/services/email.service.ts
  src/services/unified-context-manager.service.ts
  src/types/flow-lock.types.ts
  src/types/flow-state.types.ts
  src/types/orchestrator.types.ts
  src/utils/unified-context-helper.ts
Due: none

feat: Roteamento de landing pages por hostname e rotas do blog
  src/frontend/landingTM.html
  src/index.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Adicionar sistema anti-bloqueio e proteções de rate limiting ao Instagram scraper
  database/migrations/026_lead_generation_system.sql
  database/migrations/027_instagram_leads_capture.sql
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Implementar monitoramento multi-plataforma de redes sociais com N8N
  database/migrations/037_create_account_actions_table.sql
  database/migrations/038_add_source_platform_to_account_actions.sql
  src/index.ts
  src/routes/account-actions.routes.ts
  src/routes/facebook-webhook-verification.routes.ts
  src/routes/instagram-webhook.routes.ts
  src/services/account-actions-notifier.service.ts
Due: none

feat: Aprimorar Instagram scraper com validações de qualidade e extração de hashtags
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-profile.utils.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

fix: Corrigir bug crítico de concorrência no Instagram scraper com Browser Contexts
  src/index.ts
  src/services/instagram-context-manager.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

fix: Reduzir abas abertas do navegador para evitar detecção da Meta
  src/services/instagram-context-manager.service.ts
  src/services/instagram-session.service.ts
Due: none

perf: Otimizar footprint removendo BrowserContexts isolados
  src/services/instagram-context-manager.service.ts
Due: none

fix: Remover setupProcessHandlers() que causava não-encerramento do scrape-users
  src/services/instagram-scraper-user-search.service.ts
Due: none

fix: Remover lock/semaphore que causava execuções duplicadas no scraper
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

chore: Adicionar arquivos grandes ao .gitignore e remover do Git
  .gitignore
Due: none

feat: Melhorar script de enriquecimento de leads Instagram
  database/migrations/031_add_enrichment_fields.sql
  scripts/enrich-instagram-leads.ts
Due: none

fix: Expandir bio completa do Instagram clicando no botão 'mais'
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

feat: Melhorar extração de contatos do script de enriquecimento de leads
  scripts/enrich-instagram-leads.ts
Due: none

feat: Criar workflow N8N para enriquecimento automático de leads
  package-lock.json
  package.json
  src/services/instagram-lead-enrichment.service.ts
  workflows/instagram-leads-enrichment.json
Due: no-secrets

feat: Criar endpoint Express + workflow N8N para enriquecimento automático de leads
  src/index.ts
  src/routes/instagram-enrichment.routes.ts
  workflows/instagram-leads-enrichment-complete.json
  workflows/instagram-leads-enrichment-fixed.json
Due: no-secrets

feat: Implementar batch engagement Instagram (follow, like, comment)
  database/migrations/040_simplify_account_actions.sql
  src/routes/instagram-follow.routes.ts
  src/services/instagram-automation-refactored.service.ts
  src/services/instagram-official-session.service.ts
  workflows/instagram-follow-unfollow.json
Due: no-secrets

feat: Sistema completo de scraping Instagram com múltiplas contas e enriquecimento IA
  .gitignore
  src/index.ts
  src/routes/instagram-enrichment.routes.ts
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-lead-enrichment.service.ts
  src/services/instagram-official-session.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search-v1.service.ts
  src/services/instagram-scraper-user-search.service.ts
  src/services/instagram-session.service.ts
  src/services/optimized-cron.service.ts
Due: none

feat: Adicionar logs detalhados de dados extraídos em scrape-users
  src/services/instagram-scraper-user-search.service.ts
Due: none

feat: Sistema completo de enriquecimento IA para leads Instagram
  database/migrations/041_add_profession_to_leads.sql
  src/routes/instagram-enrichment.routes.ts
  src/services/instagram-lead-enrichment.service.ts
Due: none

feat: Otimizar validação de conta Instagram e reduzir navegações redundantes
  src/services/instagram-official-session.service.ts
Due: none

fix: Reutilizar página compartilhada no batch engagement Instagram
  src/services/instagram-automation-refactored.service.ts
Due: none

perf: Reduzir delay de cleanup-pages de 120s para 60s
  src/routes/instagram-scraper.routes.ts
Due: none

feat: Melhorias abrangentes no URL Scraper para extração de contatos
  src/services/url-scraper.service.ts
Due: none

feat: Sistema de priorização WhatsApp e limite de 4 telefones no scraper
  src/services/url-scraper.service.ts
Due: none

feat: Refatorar sistema de geração de termos Instagram + enriquecimento de leads
  database/migrations/039_add_last_check_notified_at.sql
  database/migrations/042_add_url_enriched_flag.sql
  database/migrations/043_add_additional_contacts_jsonb.sql
  landing-worker/worker-with-html.js
  landing-worker/worker.js
  scripts/add-profession-column.ts
  scripts/debug-bio-links.ts
  scripts/debug-canva-whatsapp.ts
  scripts/debug-huirlleyane-screenshot.ts
  scripts/debug-json-structure.ts
  scripts/get-3-leads.ts
  scripts/inspect-instagram-dom.ts
  scripts/inspect-instagram-simple.js
  scripts/list-instagram-accounts.ts
  scripts/reset-url-enrichment.sql
  scripts/reset-url-enrichment.ts
  scripts/run-migration-041.ts
  scripts/setup-ubs-sistemas-session.ts
  scripts/test-bio-complete-validation.ts
  scripts/test-bio-final.ts
  scripts/test-bio-fix-huirlleyane.ts
  scripts/test-bio-link-isolated.ts
  scripts/test-bio-link-quick.ts
  scripts/test-bio-scraper.ts
  scripts/test-bio-via-search.ts
  scripts/test-dradani-whatsapp.ts
  scripts/test-facebook-scrape.ts
  scripts/test-instagram-redirect.ts
  scripts/test-phone-validation.ts
  scripts/test-scraping-final.ts
  scripts/test-scraping-improvements.ts
  src/frontend/landingTM.html
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-automation.service.ts
  src/services/language-country-detector.service.ts
  test-bio-link-debug.png
  test-bio-terapiaocupacional.expert.png
  test-huirlleyane-debug.png
  workflows/instagram-leads-enriquecidos-FIXED.json
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Corrigir scraper Instagram para processar posts por posição do grid
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Sistema inteligente de DM outreach + descoberta de hashtags Instagram
  scripts/calculate-top65.ts
  scripts/compare-hashtags.ts
  scripts/get-leads-stats.ts
  scripts/get-qualified-leads-for-dm.sql
  scripts/import-exclusive-filtered.ts
  scripts/import-final-correct.ts
  scripts/import-final-optimized.ts
  scripts/import-hashtags-correct.ts
  scripts/import-normalized-final.ts
  scripts/import-top-hashtags.ts
  scripts/import-top50-optimized.ts
  src/index.ts
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-hashtag-discovery.routes.ts
  src/services/instagram-automation-refactored.service.ts
  src/services/instagram-dm-personalization.service.ts
  src/services/instagram-hashtag-discovery.service.ts
  src/services/instagram-official-session.service.ts
  supabase/migrations/20251107_create_instagram_dm_outreach.sql
  supabase/migrations/20251108_create_instagram_hashtag_variations.sql
Due: none

feat: Sistema inteligente de descoberta multi-hashtag Instagram + otimizações
  src/services/instagram-hashtag-discovery.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Sistema robusto de scraping com retry e fallback para hashtags
  scripts/check-all-follow-backs.ts
  scripts/normalize-contacts-meta-standard-IMPROVED.sql
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Nova API para verificar engajamento de leads em nossos posts
  src/routes/instagram-follow.routes.ts
  src/services/instagram-automation-refactored.service.ts
Due: none

feat: Sistema de detecção de engajamento via notificações Instagram
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-automation-refactored.service.ts
Due: none

fix: Recalcular coordenadas do elemento após scroll no scraper Instagram
  src/services/instagram-scraper-single.service.ts
Due: none

fix: Instagram DM sending with proper button detection and DB persistence
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-automation-refactored.service.ts
Due: none

feat: Sistema de validação de engajamento Instagram + otimizações scraper
  scripts/check-all-engagement-profiles.js
  scripts/check-engagement-data.js
  scripts/check-engagement-profiles.js
  scripts/check-follow-status.js
  scripts/check-hashtags.js
  scripts/check-real-engagement.js
  scripts/check-table-structure.js
  scripts/inspect-profile-authenticated.js
  scripts/inspect-profile-html.js
  scripts/normalize-contacts-meta-standard.sql
  scripts/populate-top-50-terms.ts
  scripts/profile-marseaufranco.html
  scripts/update-10-profiles-scores.js
  scripts/validate-engagement-supabase.js
  scripts/validate-engagement-system.js
  src/frontend/landingTM.html
  src/services/instagram-hashtag-discovery.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Sistema de scraping de seguidores para leads B2C
  config/search-terms-b2c-beleza-feminina.json
  config/search-terms-b2c-fitness.json
  config/search-terms-b2c-saude-longevidade.json
  scripts/insert-b2c-search-terms.ts
  scripts/test-followers-scraper.sh
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-followers-scraper.service.ts
Due: no-secrets

feat: Auto-scrape de seguidores de concorrentes no scrape-tag
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Sistema completo de Hashtag Intelligence e população de lead_search_terms
  docs/HASHTAG-API-QUICK-REFERENCE.md
  docs/HASHTAG-INTELLIGENCE-SYSTEM.md
  docs/LEAD-SEARCH-TERMS-WORKFLOW.md
  src/index.ts
  src/routes/hashtag-expansion.routes.ts
  src/routes/hashtag-scoring.routes.ts
  src/routes/hashtag-suggestions.routes.ts
  src/routes/lead-search-terms.routes.ts
  src/services/hashtag-analytics-dashboard.sql
  src/services/hashtag-cooccurrence-suggester.service.ts
  src/services/hashtag-lead-scorer.service.ts
  src/services/hashtag-search-terms-expander.service.ts
  src/services/lead-search-terms-populator.service.ts
Due: frontend-integrity-check, no-secrets
