Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

frontend-integrity-check:
  name: Frontend Integrity Check
  entry: node scripts/verify-frontend-integrity.js
  language: node
  pass_filenames: false
  always_run: false

component-version-check:
  name: Component Version Check
  entry: bash
  language: bash
  args:
  - -c
  ...

accessibility-quick-check:
  name: Quick Accessibility Check
  entry: bash
  language: bash
  args:
  - -c
  ...

prevent-critical-changes:
  name: Prevent Unauthorized Critical Changes
  entry: bash
  language: bash
  args:
  - -c
  ...

html-validation:
  name: HTML Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

js-syntax-check:
  name: JavaScript Syntax Check
  entry: node
  language: node
  args:
  - -c
  - console.log('‚úÖ JavaScript syntax check passed')

no-mock-data:
  name: No Mock Data in Production
  entry: bash
  language: bash
  args:
  - -c
  ...

no-secrets:
  name: No Secrets or Tokens
  entry: bash
  language: bash
  args:
  - -c
  ...

playwright-test-validation:
  name: Playwright Test Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

Add contract PDF generation with B2 storage and UI improvements
  database/migrations/092_esignature_integration.sql
  database/migrations/093_add_pdf_url_fields.sql
  src/frontend/cliente-contrato.html
  src/frontend/cliente-home.html
  src/frontend/cliente-proposta.html
  src/frontend/components/aic-client-sidebar.js
  src/frontend/js/supabase-client.js
  src/index.ts
  src/middleware/client-auth.middleware.ts
  src/routes/aic-contracts.routes.ts
  src/routes/client-journey.routes.ts
  src/services/b2-storage.service.ts
  src/services/client-journey.service.ts
  src/services/contract-pdf.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Add client portal step tracking, leads page, and weekly invoice system
  package-lock.json
  package.json
  scripts/test-calendar-invoice.ts
  scripts/test-pdf-generation.ts
  scripts/test-proposal-accept.ts
  scripts/test-webhook-simulation.ts
  scripts/test-weekly-invoice.ts
  src/frontend/aic-aguardando.html
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-execution-agreement.html
  src/frontend/aic-financial-dashboard.html
  src/frontend/aic-login.html
  src/frontend/aic-minha-campanha.html
  src/frontend/aic-reunioes-fechamento.html
  src/frontend/cliente-contrato.html
  src/frontend/cliente-home.html
  src/frontend/cliente-leads.html
  src/frontend/cliente-pagamento.html
  src/frontend/cliente-proposta.html
  src/frontend/components/aic-client-sidebar.js
  src/index.ts
  src/routes/aic-calendar.routes.ts
  src/routes/aic-contracts.routes.ts
  src/routes/aic-financial.routes.ts
  src/routes/aic-lead-deliveries.routes.ts
  src/routes/client-journey.routes.ts
  src/routes/esignature-webhook.routes.ts
  src/routes/weekly-invoice.routes.ts
  src/services/aic-financial.service.ts
  src/services/client-journey.service.ts
  src/services/contract-pdf.service.ts
  src/services/esignature.service.ts
  src/services/proposal-pdf.service.ts
  src/services/weekly-invoice.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Improve admin dashboard with PDF downloads and cleaner navigation
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-contrato-prestacao-servicos.html
  src/frontend/aic-proposta-comercial.html
  src/frontend/cliente-dashboard.html
  src/frontend/cliente-faturas.html
  src/frontend/components/aic-sidebar.js
  src/index.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Fix detached frame loop in Instagram scraper
  src/services/instagram-context-manager.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Simplify admin dashboard and improve client portal self-service flow
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-landing.html
  src/frontend/aic-login.html
  src/frontend/cliente-contrato.html
  src/frontend/cliente-credenciais.html
  src/frontend/cliente-home.html
  src/frontend/cliente-proposta.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/components/aic-client-sidebar.js
  src/frontend/components/aic-sidebar.js
  src/index.ts
  src/middleware/client-auth.middleware.ts
  src/routes/aic-contracts.routes.ts
  src/routes/client-campaigns.routes.ts
  src/routes/client-journey.routes.ts
  src/routes/hashtag-intelligence.routes.ts
  src/services/client-journey.service.ts
  src/services/contract-pdf.service.ts
  src/services/esignature.service.ts
  src/services/vector-clustering.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Improve cleanup-pages API and fix PM2 memory limits
  ecosystem.config.js
  src/routes/instagram-scraper.routes.ts
Due: no-secrets

Remove Google Calendar integration and add isolated Whapi Worker
  calendar-test.html
  package.json
  scripts/test-calendar-invoice.ts
  src/frontend/aic-reunioes-fechamento.html
  src/frontend/google-calendar-authorization.html
  src/frontend/google-calendar-onboarding.html
  src/frontend/test-calendar.html
  src/index.ts
  src/routes/aic-calendar.routes.ts
  src/routes/calendar-webhook.js
  src/routes/demo-apis.backup.ts
  src/routes/google-calendar-oauth.routes.ts
  src/routes/google-oauth.routes.js
  src/services/calendar-cleanup.service.js
  src/services/calendar-sync-bidirectional.service.js
  src/services/calendar-sync-cron.service.js
  src/services/calendar.service.d.ts.map
  src/services/calendar.service.js
  src/services/calendar.service.js.map
  src/services/google-calendar.service.ts
  src/services/google-oauth.service.ts
  src/services/outreach-agent.service.ts
  src/test-tenants/test-calendar-sync.js
  src/utils/google-token.js
  src/whapi-worker.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Refactor UI to replace Google Calendar with WhatsApp handoff
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-contrato-prestacao-servicos.html
  src/frontend/aic-docs.html
  src/frontend/aic-financial-dashboard.html
  src/frontend/aic-landing.html
  src/frontend/aic-lead-deliveries.html
  src/frontend/aic-leads-entregues.html
  src/services/contract-pdf.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add Google Maps scraper with 3-layer Instagram extraction
  src/index.ts
  src/routes/google-maps-scraper.routes.ts
  src/services/google-maps-scraper.service.ts
Due: none

Improve Google Maps scraper stability and add Instagram automation guide
  docs/GUIA-AUTOMACAO-INSTAGRAM-CLIENTE.md
  docs/GUIA-AUTOMACAO-INSTAGRAM-CLIENTE.pdf
  src/services/google-maps-scraper.service.ts
Due: frontend-integrity-check, no-secrets

Reduce restart attempts to 2 and wait time to 30s
  src/services/google-maps-scraper.service.ts
Due: none

Add coordinate-based scraping and improve list exhaustion handling
  src/routes/google-maps-scraper.routes.ts
  src/services/google-maps-scraper.service.ts
Due: none

Refactor Google Maps scraper: unify coord function and improve L4 Puppeteer
  scripts/test-puppeteer-instagram.ts
  src/routes/google-maps-scraper.routes.ts
  src/services/google-maps-scraper.service.ts
Due: none

Fix L4 Puppeteer: ignore SSL certificate errors
  src/services/google-maps-scraper.service.ts
Due: none

Add smart scroll detection: track real progress (leads saved) not just DOM changes
  src/services/google-maps-scraper.service.ts
Due: none

Add Instagram extraction Layer 2.5 and improve scroll debugging
  src/services/google-maps-scraper.service.ts
Due: none

Fix WhatsApp validation: accept numbers without 9th digit
  src/services/url-scraper.service.ts
  src/utils/whatsapp-extractor.util.ts
Due: none

Refactor Instagram to OAuth and add Whapi Partner API
  src/frontend/aic-campaign-onboarding.html
  src/frontend/cliente-credenciais.html
  src/index.ts
  src/routes/campaign-credentials.routes.ts
  src/routes/instagram-oauth.routes.ts
  src/services/instagram-oauth.service.ts
  src/services/whapi-partner.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Integrate Google Maps data into Instagram scraper
  src/routes/instagram-scraper.routes.ts
  src/services/google-maps-scraper.service.ts
Due: none

Reset enrichment flags on UPDATE in scrape-input-users
  src/routes/instagram-scraper.routes.ts
Due: none

Only save phone_whatsapp when confirmed (wa.me evidence)
  src/services/google-maps-scraper.service.ts
Due: none

Delete google_leads entry when Instagram scrape fails
  src/routes/instagram-scraper.routes.ts
Due: none

Fix Google Maps scraper: use coordinates on browser restart
  src/services/google-maps-scraper.service.ts
Due: none

Refactor sidebar and add campaign analytics for admin
  dist/frontend/aic-campaign-onboarding.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/cliente-dashboard.html
  src/frontend/components/aic-sidebar.js
  src/index.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Add dynamic landing pages with campaign slug routing
  CLAUDE.md
  src/frontend/aic-landing.html
  src/frontend/cliente-credenciais.html
  src/index.ts
  src/routes/landing-lead.routes.ts
  src/services/client-journey.service.ts
  src/services/landing-lead-capture.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Refactor WhatsApp/Instagram credentials with Whapi Partner API
  src/frontend/aic-docs.html
  src/frontend/aic-proposta-comercial.html
  src/routes/campaign-credentials.routes.ts
  src/routes/client-journey.routes.ts
  src/routes/instagram-oauth.routes.ts
  src/services/instagram-oauth.service.ts
  src/services/whapi-partner.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add misc updates: briefing v2, scripts, docs, and build artifacts
  cookies/rotation-state.json
  dist/frontend/aic-dashboard-campaign.html
  dist/frontend/aic-execution-agreement.html
  dist/frontend/aic-landing.html
  dist/frontend/aic-proposta-comercial.html
  docs/GUIA-AUTOMACAO-INSTAGRAM-CLIENTE.md
  ecosystem.config.js
  package-lock.json
  scripts/debug-l4.ts
  scripts/test-contract-pdf-updated.ts
  scripts/test-grid-scrape.ts
  src/frontend/aic-campaign-briefing-v2.html
  src/services/campaign-document-processor.service.ts
  src/services/landing-page-scraper.service.ts
  src/services/vector-clustering.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix lead capture page: simple form instead of AIC landing
  src/frontend/aic-lead-capture.html
  src/index.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add 3min global timeout + black screen detection for hashtag extraction
  src/services/instagram-profile.utils.ts
Due: none

Add scrape-input-newusers API for single username scraping
  src/routes/instagram-scraper.routes.ts
Due: none

Add stealth + backoff to Google Maps scraper, fix TS errors
  database/migrations/094_campaign_leads_noig.sql
  src/index.ts
  src/routes/instagram-scraper.routes.ts
  src/routes/landing-lead.routes.ts
  src/services/google-maps-scraper.service.ts
  src/services/instagram-inbound-lead-handler.service.ts
  src/services/landing-lead-capture.service.ts
  src/services/lead-enrichment-worker.service.ts
  src/services/queue-manager.service.ts
Due: none

Add NoIG lead flow documentation
  docs/AIC-LEAD-NOIG-FLUXO-COMPLETO.md
  docs/AIC-NOIG-AGENT-PROMPT.md
Due: frontend-integrity-check, no-secrets

Disable UBS deprecated crons (focus 100% AIC)
  src/index.ts
Due: none

Add grid exhaustion counter to Google Maps scraper
  src/services/google-maps-scraper.service.ts
Due: none

Improve AIC client journey UX for credentials and briefing
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/cliente-credenciais.html
  src/routes/client-journey.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix campaign_id vs journey_id confusion in client portal
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/components/aic-client-sidebar.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Fix checkCampaignAccess to support client portal users
  src/middleware/aic-auth.middleware.ts
Due: none

Add Authorization headers to briefing page API calls
  src/frontend/aic-campaign-briefing-v2.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Improve briefing form UX: clearer labels + LP auto-fill
  src/frontend/aic-campaign-briefing-v2.html
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-user-search.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Simplify scrape-users: remove rotation logic, use basic retry
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$
