Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$

Refactor: Ecosystem approach - AI Conversacional as component 5
  dist/frontend/aic-landing.html
  src/frontend/aic-docs.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add AI Conversacional documentation (Component 5)
  docs/AIC-AI-SDR-AGENT.md
Due: frontend-integrity-check, no-secrets

Add humanizeHashtag function to convert hashtags to readable text
  src/routes/hashtag-intelligence.routes.ts
Due: none

Add auto-recovery for browser timeout and shadowban detection
  src/services/instagram-scraper-single.service.ts
Due: none

Restore stable state: editable seeds dropdown, lead persistence on save
  cookies/instagram-cookies-account1.json
  cookies/rotation-state.json
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
  src/services/lead-prefilter.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

V11: Major clustering improvements - security, scoring, and bug fixes
  src/services/niche-validator.service.ts
  src/services/vector-clustering.service.ts
Due: none

V11.1: Clustering and seed suggestion improvements
  src/routes/hashtag-intelligence.routes.ts
  src/services/seed-suggester.service.ts
  src/services/vector-clustering.service.ts
Due: none

V11.2: Lead IDs passthrough from niche validation to clustering
  src/frontend/cluster-intention-dashboard.html
  src/services/niche-validator.service.ts
  src/services/vector-clustering.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

V11.2b: Fix batch fetching for lead_ids clustering
  src/services/vector-clustering.service.ts
Due: none

Add GPT-based hashtag humanization for search terms
  src/routes/hashtag-intelligence.routes.ts
Due: none

Add BDR/SDR terminology to ecosystem documentation
  CLAUDE.md
  docs/AIC-AI-SDR-AGENT.md
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add BDR/SDR terminology to aic-docs.html
  src/frontend/aic-docs.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add draft mode editing for campaign fields
  src/frontend/cluster-intention-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Improve language detection + seed suggester + Meta audience export
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-dashboard-prova.html
  src/frontend/aic-docs.html
  src/frontend/aic-execution-agreement.html
  src/frontend/aic-faq-compliance.html
  src/frontend/aic-landing.html
  src/frontend/aic-login.html
  src/frontend/aic-proposta-comercial.html
  src/frontend/aic-reset-password.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/components/aic-sidebar.js
  src/frontend/js/auth-guard.js
  src/frontend/js/supabase-client.js
  src/index.ts
  src/middleware/aic-auth.middleware.ts
  src/routes/campaign-credentials.routes.ts
  src/routes/hashtag-intelligence.routes.ts
  src/services/instagram-scraper-single.service.ts
  src/services/language-country-detector.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Implement round-robin balanced account rotation
  src/services/instagram-account-rotation.service.ts
Due: none

Add scrape-users-rescue endpoint with dedicated refresh account
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-context-manager.service.ts
Due: none

Unify validation rules across scraper APIs and add rescue cleanup
  src/routes/instagram-scraper.routes.ts
Due: none

Persist usageCount for round-robin account rotation
  cookies/rotation-state.json
  src/services/instagram-account-rotation.service.ts
Due: no-secrets

Fix usageCount lookup to use username instead of array index
  src/services/instagram-account-rotation.service.ts
Due: none

Add WhatsApp extraction to scrapeProfileWithExistingPage
  src/services/instagram-scraper-single.service.ts
Due: none

Fix usageCount persistence in account rotation system
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-account-rotation.service.ts
Due: none

Add PM2 multi-instance architecture for worker separation
  ecosystem.config.js
Due: no-secrets

Add watchdog support and improve scraper services
  ecosystem.config.js
  scripts/trigger-workflow.sh
  src/routes/instagram-scraper.routes.ts
  src/services/analytics-scheduler.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-profile.utils.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search-v1.service.ts
  src/services/url-scraper.service.ts
Due: no-secrets

Fix detached Frame handling - treat as browser crash not Instagram detection
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

Remove false positive shadowban detection on low post count
  src/services/instagram-scraper-single.service.ts
Due: none

Update build artifacts and add AIC logo asset
  cookies/rotation-state.json
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-execution-agreement.html
  dist/frontend/aic-landing.html
  dist/frontend/aic-proposta-comercial.html
  src/frontend/assets/AIC/Imagens Vetor /Logo Completo nome Branco sem fundo.png
Due: frontend-integrity-check, no-secrets

Add navigation links for Campanhas, Nova Campanha and Entrar
  dist/frontend/aic-landing.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix redirect URL in campaign onboarding completion
  src/frontend/aic-campaign-onboarding.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add navigation menu to campaign dashboard
  src/frontend/aic-dashboard-campaign.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add 'Configurar' button to campaign cards
  src/frontend/aic-campaigns-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add client journey flow for new AIC users
  src/frontend/aic-aguardando.html
  src/frontend/aic-login.html
  src/frontend/aic-minha-campanha.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix client registration and show phone in waiting page
  src/frontend/aic-aguardando.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix browser restart on protocol timeout + new AIC routes and pages
  ecosystem.config.js
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-execution-agreement.html
  src/frontend/aic-landing.html
  src/frontend/aic-lead-deliveries.html
  src/frontend/aic-leads-entregues.html
  src/frontend/aic-login.html
  src/frontend/aic-minha-campanha.html
  src/frontend/aic-reunioes-fechamento.html
  src/index.ts
  src/routes/aic-calendar.routes.ts
  src/routes/aic-contracts.routes.ts
  src/routes/aic-lead-deliveries.routes.ts
  src/services/instagram-scraper-single.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add complete client journey system with payment flow
  database/migrations/090_aic_client_journeys.sql
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-contrato-prestacao-servicos.html
  src/frontend/aic-minha-jornada.html
  src/frontend/aic-pagamento.html
  src/index.ts
  src/routes/aic-contracts.routes.ts
  src/routes/client-journey.routes.ts
  src/services/client-journey.service.ts
  src/services/contract-email.service.ts
  src/services/contract-pdf.service.ts
  src/services/contract-security.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix onboarding activation and journey redirect
  dist/frontend/aic-campaign-onboarding.html
  src/frontend/aic-campaign-onboarding.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix briefing endpoints for client journey integration
  src/routes/campaign-credentials.routes.ts
Due: none

Add AIC financial model for payments, deliveries and invoices
  database/migrations/091_aic_financial_model.sql
  src/frontend/aic-financial-dashboard.html
  src/frontend/components/aic-sidebar.js
  src/index.ts
  src/routes/aic-financial.routes.ts
  src/services/aic-financial.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Standardize aic-lead-deliveries page to AIC visual pattern
  src/frontend/aic-lead-deliveries.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix duplicate navigation in campaigns dashboard
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/components/aic-sidebar.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Add client portal with multi-campaign support and mobile responsiveness
  src/frontend/aic-login.html
  src/frontend/cliente-contrato.html
  src/frontend/cliente-credenciais.html
  src/frontend/cliente-home.html
  src/frontend/cliente-pagamento.html
  src/frontend/cliente-proposta.html
  src/frontend/components/aic-client-sidebar.js
  src/frontend/components/aic-sidebar.js
  src/index.ts
  src/middleware/client-auth.middleware.ts
  src/routes/aic-lead-deliveries.routes.ts
  src/routes/client-campaigns.routes.ts
  src/routes/client-journey.routes.ts
  src/services/client-invite.service.ts
  src/services/client-journey.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets
