Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$

feat: Sistema de scraping ultra-humano com validação otimizada
  scripts/clean-low-followers.ts
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-profile.utils.ts
  src/services/instagram-scraper-single.service.ts
  src/services/language-country-detector.service.ts
Due: none

feat: Remove lógica de processamento de seguidores - voltar ao scraping limpo
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Persistência imediata no banco e correções críticas no scraping
  scripts/check-recent-leads.ts
  src/routes/instagram-follow.routes.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

feat: Adiciona sanitização de dados estilo N8N para validação de campos
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

fix: Fecha drawer de pesquisa automaticamente para evitar cliques errados
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Login automático Instagram com conta fake e recuperação de sessão
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
Due: none

feat: Otimizações de performance e resiliência do scraper Instagram
  src/services/instagram-scraper-single.service.ts
  src/services/persona-generator.service.ts
Due: none

feat: Sistema inteligente de rotação de contas Instagram e detecção de shadowban
  package-lock.json
  package.json
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-page-cleaner.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
Due: no-secrets

fix: Garante que hashtag original sempre seja scrapada primeiro
  src/services/instagram-scraper-single.service.ts
Due: none

fix: Corrige detecção de duplicatas e preservação de scroll no scraper Instagram
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Implementa scroll gradual incremental e delays adaptativos por profundidade
  src/services/instagram-scraper-single.service.ts
Due: none

fix: Corrige detecção de idioma PT e virtual scrolling do Instagram
  src/services/instagram-scraper-single.service.ts
  src/services/language-country-detector.service.ts
Due: none

feat: Sistema anti-detecção profissional completo para scraper Instagram
  src/services/instagram-context-manager.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/instagram-stealth.service.ts
Due: none

fix: Otimiza sistema de scroll condicional e valores conservadores no scraper Instagram
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Adiciona aprovação automática por website/bio e corrige antiDetectionDelay
  src/services/instagram-scraper-single.service.ts
Due: none

fix: Corrige deduplicação de clusters e adiciona limite de clicks no scraper
  src/frontend/dynamic-intelligence-dashboard.html
  src/services/canva-animated-video-generator.service.ts
  src/services/dynamic-clustering.service.ts
  src/services/instagram-scraper-single.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Corrige rotação de contas Instagram e remove dependência de proxies
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-context-manager.service.ts
  src/services/instagram-profile.utils.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/proxy-rotation.service.ts
Due: none

feat: Sistema completo de rotação de contas Instagram + Análise de clusters AIC
  database/migrations/044_instagram_account_rotation_audit.sql
  src/routes/hashtag-intelligence.routes.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/instagram-stealth.service.ts
Due: none

feat: Sistema Vector Store completo para análise de hashtags escalável (1M+)
  database/migrations/053_cluster_projects_campaigns.sql
  package-lock.json
  package.json
  src/cron/hashtag-sync.cron.ts
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/index.ts
  src/routes/hashtag-intelligence.routes.ts
  src/services/aic-engine.service.ts
  src/services/dynamic-clustering.service.ts
  src/services/hashtag-parquet-export.service.ts
  src/services/hashtag-sync.service.ts
  src/services/hashtag-vector-store.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Sistema unificado de outreach multi-canal (Instagram DM + WhatsApp)
  database/migrations/054_unified_outreach_system.sql
  src/index.ts
  src/routes/outreach.routes.ts
  src/services/personalized-dm.service.ts
Due: none

feat: Melhorias no sistema Instagram e remoção de métricas legadas
  src/cron/hashtag-sync.cron.ts
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/index.ts
  src/routes/dashboard-apis.ts
  src/routes/hashtag-intelligence.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/routes/metrics.ts
  src/services/aic-engine.service.ts
  src/services/hashtag-sync.service.ts
  src/services/hashtag-vector-store.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-official-session.service.ts
  src/services/instagram-page-cleaner.service.ts
  src/services/instagram-profile.utils.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/language-country-detector.service.ts
  src/services/metrics-cron-enhanced.service.ts
  src/services/metrics-cron.service.ts
  src/services/new-tenant-metrics-job.service.ts
  src/services/saas-metrics.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Endpoint scrape-explore + Sistema de Pipeline de Campanhas
  database/migrations/055_campaign_subclusters_system.sql
  database/migrations/056_fix_subcluster_precision.sql
  src/index.ts
  src/routes/campaign-pipeline.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/routes/unified-intelligence.routes.ts
  src/services/campaign-pipeline.service.ts
  src/services/clustering-engine.service.ts
  src/services/hashtag-csv-export.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/niche-validator.service.ts
  src/services/unified-clustering-insights.service.ts
Due: none

fix: Correção sistema de rotação de contas Instagram
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

feat: Endpoints de outreach e ajustes scraper routes
  src/routes/instagram-scraper.routes.ts
  src/routes/outreach.routes.ts
Due: none

feat: Sistema de normalização e validação de telefones WhatsApp
  database/migrations/058_fix_phones_normalized_include_additional.sql
  database/migrations/059_fix_ddd_regex_normalize_phone.sql
  scripts/validate-all-phones-whapi.ts
  src/routes/whapi.routes.ts
  src/services/whapi-client.service.ts
Due: none

feat: Sistema Pre-Leads para scraping de seguidores em lote
  database/migrations/057_restore_account_actions_for_aic.sql
  database/migrations/060_fix_trigger_preserve_validated_phones.sql
  database/migrations/061_add_hashtag_origem_to_pre_leads.sql
  scripts/batch-re-enrich.ts
  src/frontend/whatsapp-sessions.html
  src/index.ts
  src/routes/account-actions.routes.ts
  src/routes/instagram-follow.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/routes/outreach.routes.ts
  src/routes/whapi.routes.ts
  src/services/account-actions-notifier.service.ts
  src/services/credentials-vault.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-client-dm.service.ts
  src/services/instagram-followers-scraper.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
  src/services/instagram-session.service.ts
  src/services/language-country-detector.service.ts
  src/services/outreach-agent.service.ts
  src/services/response-queue-worker.service.ts
  src/services/url-scraper.service.ts
  src/services/whatsapp-session-manager.service.ts
  src/services/whatsapp-validator.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Sistema de geração de conteúdo personalizado por cluster
  src/frontend/appointments-standardized.html
  src/frontend/billing-standardized.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/conversations-standardized.html
  src/frontend/customers-standardized.html
  src/frontend/dashboard-standardized.html
  src/frontend/landing.html
  src/frontend/login-standardized.html
  src/frontend/payments-standardized.html
  src/frontend/professionals-standardized.html
  src/frontend/register-standardized.html
  src/frontend/services-standardized.html
  src/frontend/settings-standardized.html
  src/frontend/tenants-standardized.html
  src/routes/hashtag-intelligence.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/campaign-pipeline.service.ts
  src/services/canva-animated-video-generator.service.ts
  src/services/canva-multi-page-video.service.ts
  src/services/clustering-engine.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/url-scraper.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: Refatoração completa do sistema de UPDATE em scrapers Instagram
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
Due: none

feat: Sistema de métricas diárias Instagram com cron automático
  scripts/migration-instagram-daily-metrics.sql
  src/cron/instagram-daily-metrics.cron.ts
  src/index.ts
  src/routes/hashtag-intelligence.routes.ts
Due: none

feat: AIC WhatsApp AI Agent com Puppeteer humanizado e fallback Instagram
  docs/AIC-WHATSAPP-AGENT.md
  n8n-workflows/whatsapp-ai-agent.json
  src/index.ts
  src/routes/aic-outreach.routes.ts
  src/routes/aic-puppeteer.routes.ts
  src/services/aic-humanizer.service.ts
  src/services/aic-puppeteer-manager.service.ts
  src/services/aic-puppeteer-worker.service.ts
Due: frontend-integrity-check, no-secrets

docs: System prompt completo para AIC WhatsApp Agent
  docs/AIC-AGENT-SYSTEM-PROMPT.md
Due: frontend-integrity-check, no-secrets

feat: Lead embedding webhook service para on-ingest embeddings
  src/services/instagram-scraper-single.service.ts
  src/services/lead-embedding-webhook.service.ts
Due: none

Add optional deep mode for url scraper
  src/routes/instagram-scraper.routes.ts
  src/services/url-scraper.service.ts
Due: none

feat: Dashboard sync, enrichment flags & clustering improvements
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/routes/advanced-monitoring.routes.ts
  src/routes/hashtag-intelligence.routes.ts
  src/routes/instagram-enrichment.routes.ts
  src/routes/instagram-scraper.routes.ts
  src/services/campaign-pipeline.service.ts
  src/services/clustering-engine.service.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-context-manager.service.ts
  src/services/instagram-lead-enrichment.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search-v1.service.ts
  src/services/instagram-scraper-user-search.service.ts
  src/services/instagram-scraper.service.ts
  src/services/language-country-detector.service.ts
  src/services/whapi-client.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Add hashtags_ready_for_embedding flag for lead embedding pipeline
  database/migrations/071_hashtags_ready_for_embedding.sql
Due: none

feat: Phone normalization trigger + anti-ban strategy for WhatsApp outreach
  database/migrations/076_phone_normalization_trigger.sql
  database/migrations/077_handle_phone_failure_function.sql
  src/routes/outreach.routes.ts
Due: none

feat: AIC campaigns dashboard with slug-based navigation
  src/frontend/aic-campaigns-dashboard.html
  src/index.ts
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets
