Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$

feat: Refactor Whapi architecture to centralized channels with rate limits
  database/migrations/083_whapi_channels_qr_columns.sql
  src/frontend/aic-campaign-onboarding.html
  src/frontend/cluster-intention-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Campaign creation wizard, status toggle, and analytics charts
  src/frontend/aic-campaigns-dashboard.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: AIC internal team dashboard with access control & copyable campaign links
  src/frontend/aic-campaigns-dashboard.html
  src/routes/campaign-credentials.routes.ts
  src/routes/instagram-official-dm.routes.ts
  src/services/instagram-official-dm.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Instagram DM automation with official client account & rate limiting
  database/migrations/084_instagram_dm_sessions.sql
  scripts/run-migration-084.js
  src/index.ts
Due: no-secrets

Add consent-gated analytics and SEO tracking updates
  ONBOARDING_IMPLEMENTATION.md
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-execution-agreement.html
  dist/frontend/aic-landing.html
  dist/frontend/aic-proposta-comercial.html
  dist/frontend/landing.html
  dist/frontend/landingTM.html
  docs/AIC-EXECUTION-AGREEMENT.md
  docs/AIC-PROPOSTA-COMERCIAL.md
  src/routes/google-calendar-oauth.routes.ts
Due: frontend-integrity-check, no-secrets

feat: Google Calendar OAuth system for AIC campaign scheduling
  GOOGLE_CALENDAR_OAUTH_SETUP.md
  src/frontend/google-calendar-onboarding.html
  src/index.ts
  src/services/encryption.service.ts
  src/services/google-calendar.service.ts
  src/services/google-oauth.service.ts
  src/services/meeting-reminders.service.ts
  src/services/outreach-agent.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

docs: Atualizar documentação AIC com agendamento automático Google Calendar
  ONBOARDING_IMPLEMENTATION.md
  docs/AIC-PROPOSTA-COMERCIAL.md
  docs/AIC-WHATSAPP-AGENT.md
  src/frontend/aic-docs.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Implement lead capture script for AIC landing page
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: Instagram DM inbound webhook with AI Agent integration
  database/migrations/085_instagram_dm_inbound_leads.sql
  src/index.ts
  src/routes/instagram-dm-webhook.routes.ts
Due: none

feat: Connect Instagram DM webhook to dedicated N8N workflow
  src/routes/instagram-dm-webhook.routes.ts
Due: none

feat: Sistema completo de web tracking e lead attribution
  database/migrations/086_campaign_web_tracking.sql
  src/frontend/js/campaign-tracking.js
  src/index.ts
  src/routes/campaign-tracking.routes.ts
Due: frontend-integrity-check, component-version-check, js-syntax-check, no-mock-data, no-secrets

Add campaign dashboard entry page
  dist/frontend/aic-dashboard-campaign.html
  src/frontend/aic-dashboard-campaign.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add campaign performance API and dashboard wiring
  dist/frontend/aic-dashboard-campaign.html
  src/frontend/aic-dashboard-campaign.html
  src/index.ts
  src/routes/campaign-performance.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add campaign listing endpoint and dashboard selector
  dist/frontend/aic-dashboard-campaign.html
  src/frontend/aic-dashboard-campaign.html
  src/routes/campaign-performance.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Improve campaign dashboard selector and list endpoint
  src/frontend/aic-dashboard-campaign.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Allow local CORS on port 3001
  src/index.ts
Due: none

Improve dashboard UX and handle missing views
  src/frontend/aic-dashboard-campaign.html
  src/routes/campaign-performance.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix campaign dropdown and performance API source
  src/frontend/aic-dashboard-campaign.html
  src/routes/campaign-performance.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix GitHub Actions workflow - skip missing test suites gracefully
  .github/workflows/frontend-integrity.yml
Due: none

Fix campaign list: use cluster_status
  src/routes/campaign-performance.routes.ts
Due: none

Fix scraper retry loop and add AIC subdomain routing
  src/index.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Fix Instagram scraper: persistent page, 429 detection, rotation logic
  src/services/instagram-context-manager.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Fix Instagram scraper: "Something went wrong" detection, robust browser close, 6h timeout
  src/index.ts
  src/services/instagram-account-rotation.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Fix Instagram scraper: hashtag discovery, Service Unavailable, UPSERT, language detection
  src/services/instagram-hashtag-discovery.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/language-country-detector.service.ts
Due: none

Fix hashtag parsing: support English "M" for millions, fix log display
  src/services/instagram-hashtag-discovery.service.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Add promotional pricing banner to AIC landing page
  dist/frontend/aic-landing.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix Instagram scraper stats extraction: robust 4-strategy approach
  src/services/instagram-scraper-user-search.service.ts
Due: none

Fix 429 error handling: 3-failure validation, proper cleanup order, retry loop
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-scraper-single.service.ts
Due: none

Add whatsapp_verified column: high-certainty Brazil numbers
  src/routes/instagram-enrichment.routes.ts
  src/routes/instagram-scraper.routes.ts
Due: none

Improve WhatsApp extraction: bio phones + website rescrape
  scripts/analyze-recent-leads.ts
  scripts/backfill-rescrape-websites.ts
  src/services/url-scraper.service.ts
  src/utils/whatsapp-extractor.util.ts
Due: none

Add HTML context-based WhatsApp extraction
  scripts/backfill-rescrape-websites.ts
  scripts/check-backfill-persistence.ts
  scripts/check-persistence.ts
  scripts/test-html-context-extraction.ts
  src/services/url-scraper.service.ts
Due: none

Refactor clustering metrics: add cohesion_centroid as primary KPI
  src/services/vector-clustering.service.ts
Due: none

Fix seed suggester: use direct hashtag lookup + similarity search (v5)
  src/services/seed-suggester.service.ts
Due: none

Add lock mechanism to prevent concurrent hashtag sync execution
  src/services/hashtag-sync.service.ts
Due: none

Add "Gerar Search Terms" button to save scraping suggestions
  src/frontend/cluster-intention-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix campaign dashboard: show client name + click navigation
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/cluster-intention-dashboard.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add similarity threshold filter + max leads parameter to clustering
  src/frontend/cluster-intention-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
  src/services/vector-clustering.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix hashtag table: add freq_bio, freq_posts, WhatsApp rate + sort by frequency
  src/frontend/cluster-intention-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
  src/services/niche-validator.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets
