Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$

Add unified embedding for contract/briefing + AI extraction with objections
  src/frontend/aic-campaign-briefing-v2.html
  src/routes/aic-contracts.routes.ts
  src/routes/campaign-credentials.routes.ts
  src/services/campaign-document-processor.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add CTA extraction to landing page scraper
  src/services/landing-page-scraper.service.ts
Due: none

Fix browser restart using wrong closeBrowser function
  src/services/instagram-scraper-single.service.ts
Due: none

Update briefing completion to include LP as documentation
  supabase/migrations/20260122_update_briefing_completion_with_lp.sql
Due: none

Fix briefing completion to work without existing briefing
  cookies/rotation-state.json
  docs/GUIA-AUTOMACAO-INSTAGRAM-CLIENTE.pdf
  src/frontend/aic-campaign-briefing-v2.html
  src/routes/campaign-credentials.routes.ts
  supabase/migrations/20260122_update_briefing_completion_with_lp.sql
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Update briefing completion: LP = 50%
  supabase/migrations/20260122_update_briefing_completion_with_lp.sql
Due: none

Require description when selecting 'Outro' objective
  src/frontend/aic-campaign-briefing-v2.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add dynamic objections list with edit/delete capabilities
  cookies/rotation-state.json
  src/frontend/aic-campaign-briefing-v2.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Remove emojis from briefing page
  src/frontend/aic-campaign-briefing-v2.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Remove emojis from all AIC frontend pages
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-dashboard-campaign.html
  dist/frontend/aic-landing.html
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-dashboard-campaign.html
  src/frontend/aic-landing.html
  src/frontend/aic-links.html
  src/frontend/aic-pdf-viewer.html
  src/frontend/cluster-intention-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add admin notification and client status for briefing completion
  src/frontend/aic-minha-jornada.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add admin interface to activate campaigns
  cookies/rotation-state.json
  src/frontend/aic-campaigns-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix Google Maps scraper ending prematurely with few results
  src/services/google-maps-scraper.service.ts
Due: none

Improve Google Maps end-of-list restart logic
  src/services/google-maps-scraper.service.ts
Due: none

Add red badge on sidebar for pending campaign activations
  src/frontend/components/aic-sidebar.js
Due: frontend-integrity-check, component-version-check, js-syntax-check, no-mock-data, no-secrets

Replace placeholder icons with professional SVG icons
  cookies/rotation-state.json
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-dashboard-campaign.html
  dist/frontend/aic-landing.html
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-dashboard-campaign.html
  src/frontend/aic-landing.html
  src/frontend/aic-links.html
  src/frontend/aic-pdf-viewer.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/css/icons.css
  src/frontend/dashbasico-standardized.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/frontend/js/widgets/dashboard-widget-system.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Add delete campaign button and endpoint
  cookies/rotation-state.json
  src/frontend/aic-campaigns-dashboard.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix icon spans: use double quotes for JS string compatibility
  cookies/rotation-state.json
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-dashboard-campaign.html
  dist/frontend/aic-landing.html
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-dashboard-campaign.html
  src/frontend/aic-landing.html
  src/frontend/aic-links.html
  src/frontend/aic-pdf-viewer.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dashbasico-standardized.html
  src/frontend/dynamic-intelligence-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Audit N8N workflows and fix phones_normalized deprecation
  CLAUDE.md
Due: frontend-integrity-check, no-secrets

Implement consultant handoff system for AI agents
  docs/AIC-WHATSAPP-AGENT.md
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/aic-campaign-onboarding.html
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-landing.html
  src/frontend/aic-links.html
  src/frontend/cluster-intention-dashboard.html
  src/frontend/dynamic-intelligence-dashboard.html
  src/routes/campaign-credentials.routes.ts
  src/routes/hashtag-intelligence.routes.ts
  src/services/client-journey.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Add campaign test mode with hardcoded redirect fallback
  docs/AIC-WHATSAPP-AGENT.md
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-minha-campanha.html
  src/routes/campaign-credentials.routes.ts
  src/routes/outreach.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Forward Whapi webhooks to N8N for AI Agent processing
  src/routes/whapi.routes.ts
Due: none

Refactor LP CTAs: separate lead capture from login flow
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Remove Google Sign-In from LP modal
  dist/frontend/aic-landing.html
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

Fix CAMPAIGN_ID pointing to deleted campaign
  src/frontend/aic-landing.html
  src/frontend/js/campaign-tracking.js
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

Fix N8N webhook URL for new-lead-pipeline
  src/routes/landing-lead.routes.ts
  src/services/landing-lead-capture.service.ts
Due: none

Skip validation for landing page leads + dynamic campaign loading
  dist/frontend/aic-landing.html
  src/frontend/aic-landing.html
  src/routes/instagram-scraper.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

docs: Update CLAUDE.md with Test Mode implementation details
  CLAUDE.md
Due: frontend-integrity-check, no-secrets

feat: Add Instagram follow/unfollow tracking system
  database/migrations/095_campaign_instagram_follows.sql
  src/routes/instagram-follow.routes.ts
  src/services/instagram-automation-refactored.service.ts
Due: none

fix: Update N8N webhook URL and improve landing lead capture
  src/routes/landing-lead.routes.ts
  src/services/landing-lead-capture.service.ts
  src/services/landing-page-scraper.service.ts
Due: none

chore: Update routes with minor improvements
  src/routes/campaign-credentials.routes.ts
  src/routes/outreach.routes.ts
  src/routes/whapi.routes.ts
Due: none

chore: Update frontend and config files
  dist/frontend/aic-campaign-onboarding.html
  ecosystem.config.js
  src/frontend/aic-campaigns-dashboard.html
  tsconfig.json
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: D2P Framework - Market analysis via embedding
  cookies/rotation-state.json
  src/frontend/demand-intelligence-dashboard.html
  src/routes/market-demand-analysis.routes.ts
  src/services/market-demand-analysis.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: D2P professional embedding with pgvector search + auto-maintenance
  database/migrations/096_d2p_unified_versioned.sql
  database/migrations/097_d2p_professional_embedding.sql
  database/migrations/098_d2p_embedding_auto_trigger.sql
  scripts/d2p_analysis_engine.py
  scripts/generate_d2p_embeddings.py
  scripts/requirements-bertopic.txt
  src/frontend/demand-intelligence-dashboard.html
  src/index.ts
  src/routes/d2p.routes.ts
  src/services/d2p-unified.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: corrigir acentuação e estilo do select no dashboard D2P
  src/frontend/demand-intelligence-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

docs: documentar objetivo e método do dashboard D2P
  src/frontend/demand-intelligence-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: indicador de progresso de embeddings D2P no dashboard
  src/frontend/demand-intelligence-dashboard.html
  src/routes/d2p.routes.ts
  src/services/d2p-unified.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: add qualification & handoff data to client dashboard
  src/frontend/cliente-dashboard.html
  src/routes/client-campaigns.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: validate required fields before campaign activation
  src/frontend/aic-campaign-onboarding.html
  src/routes/campaign-credentials.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix: load admin sidebar when admin accesses client dashboard
  src/frontend/cliente-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets
