Repository Marseau/UBS: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-integrity-check, component-version-check, accessibility-quick-check, prevent-critical-changes, html-validation, js-syntax-check, no-mock-data, no-secrets, playwright-test-validation

frontend-integrity-check:
  name: Frontend Integrity Check
  entry: node scripts/verify-frontend-integrity.js
  language: node
  pass_filenames: false
  always_run: false

component-version-check:
  name: Component Version Check
  entry: bash
  language: bash
  args:
  - -c
  ...

accessibility-quick-check:
  name: Quick Accessibility Check
  entry: bash
  language: bash
  args:
  - -c
  ...

prevent-critical-changes:
  name: Prevent Unauthorized Critical Changes
  entry: bash
  language: bash
  args:
  - -c
  ...

html-validation:
  name: HTML Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

js-syntax-check:
  name: JavaScript Syntax Check
  entry: node
  language: node
  args:
  - -c
  - console.log('‚úÖ JavaScript syntax check passed')

no-mock-data:
  name: No Mock Data in Production
  entry: bash
  language: bash
  args:
  - -c
  ...

no-secrets:
  name: No Secrets or Tokens
  entry: bash
  language: bash
  args:
  - -c
  ...

playwright-test-validation:
  name: Playwright Test Validation
  entry: bash
  language: bash
  args:
  - -c
  ...

fix: admin campaign dashboard link uses /aic/ path
  src/frontend/aic-campaigns-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

docs: add pre-launch checklist for AIC campaign
  docs/AIC-PRE-LANCAMENTO.md
Due: frontend-integrity-check, no-secrets

fix: normalize profession field (gender + casing) and align enrichment prompts
  scripts/enrich_profession_gpt.py
  src/services/instagram-lead-enrichment.service.ts
Due: none

feat: trigger account rotation on 3 consecutive modal rendering failures
  src/services/instagram-scraper-single.service.ts
Due: none

refactor: split lead_embeddings into 3 specialized tables
  CLAUDE.md
  scripts/bulk_d2p_embeddings.py
  scripts/check-pending-embeddings.js
  scripts/export_lead_embeddings.py
  scripts/generate_d2p_embeddings.py
  scripts/rebuild_d2p_embeddings.py
  scripts/rebuild_d2p_fast.py
  scripts/reset-missing-embeddings.js
  src/services/embedding-calculator.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
  src/services/instagram-scraper.service.ts
  src/services/vector-clustering.service.ts
Due: frontend-integrity-check, no-secrets

feat: add session recovery to rescue + 404 detection + scrape-input-users hardening
  src/routes/instagram-scraper.routes.ts
  src/services/instagram-context-manager.service.ts
Due: none

refactor: remove PROFESSION_DECISIONS + fix full-universe D2P search
  CLAUDE.md
  scripts/d2p_analysis_engine.py
  scripts/generate_d2p_embeddings.py
  src/frontend/components/aic-sidebar.js
  src/frontend/demand-intelligence-dashboard.html
  src/routes/d2p.routes.ts
  src/services/aic-puppeteer-worker.service.ts
  src/services/d2p-unified.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-session.service.ts
  src/services/market-demand-analysis.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

feat: D2P dual-view Empresa/Cliente with bio embedding search
  scripts/d2p_analysis_engine.py
  src/frontend/demand-intelligence-dashboard.html
  src/routes/d2p.routes.ts
  src/services/d2p-unified.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix(seo): update canonical URLs to aic.ubs.app.br
  src/frontend/aic-landing.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: add market demand analysis and D2P enhancements
  dist/frontend/aic-campaign-onboarding.html
  dist/frontend/aic-landing.html
  scripts/market-demand-discovery.py
  scripts/migrate_embeddings.py
  scripts/recompute_final_direct.py
  scripts/recompute_final_embeddings.py
  src/frontend/assets/AIC/Imagens Vetor /Group 12.png
  src/frontend/demand-intelligence-dashboard.html
  src/routes/bertopic-results.routes.ts
  src/routes/d2p.routes.ts
  src/routes/demand-search.routes.ts
  src/routes/market-trends.routes.ts
  src/services/d2p-unified.service.ts
  src/services/demand-search.service.ts
  src/services/market-trends.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix(ui): render status icon as HTML in campaign status badge
  src/frontend/cluster-intention-dashboard.html
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat(clusters): add study management for admin lab page
  src/frontend/cluster-intention-dashboard.html
  src/routes/campaign-credentials.routes.ts
  src/routes/hashtag-intelligence.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: client journey, LP verification, briefing v2 fixes, handoff fields
  src/frontend/aic-campaign-briefing-v2.html
  src/frontend/aic-campaign-briefing.html
  src/frontend/aic-campaigns-dashboard.html
  src/frontend/aic-login.html
  src/frontend/assets/AIC/Imagens Vetor /AIC Icone Cheio.png
  src/frontend/cliente-contrato.html
  src/frontend/cliente-credenciais.html
  src/frontend/cluster-intention-dashboard.html
  src/index.ts
  src/routes/campaign-credentials.routes.ts
  src/routes/client-journey.routes.ts
  src/routes/instagram-oauth.routes.ts
  src/services/campaign-document-processor.service.ts
  src/services/email.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix(scraper): race condition "Page is closed" via page generation counter
  src/services/instagram-context-manager.service.ts
  src/services/instagram-scraper-single.service.ts
  src/services/instagram-scraper-user-search.service.ts
  src/services/instagram-session.service.ts
Due: none

fix(branding): rename Audience Intelligence Cluster to Applied Intelligence Clustering
  src/frontend/aic-proposta-comercial.html
  src/frontend/assets/AIC/Imagens Vetor /LOGO completo sem fundo Icone cheio e nome cheio.png
  src/frontend/assets/AIC/Imagens Vetor /Logo Completo nome Branco sem fundo.png
  src/frontend/cliente-contrato.html
  src/frontend/cliente-proposta.html
  src/services/aic-engine.service.ts
  src/services/proposal-pdf.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix(campaigns): resolve 1000 lead limit and auto-distribute outreach channels
  src/frontend/cliente-dashboard.html
  src/routes/hashtag-intelligence.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat(metrics): add Instagram followers tracking system
  database/migrations/100_instagram_account_metrics_tracking.sql
  src/routes/campaign-credentials.routes.ts
  src/services/instagram-oauth.service.ts
Due: none

feat(reports): implement campaign closing system with PDF reports
  database/migrations/101_campaign_closing_system.sql
  src/index.ts
  src/routes/campaign-report.routes.ts
  src/services/campaign-report.service.ts
  src/services/instagram-oauth.service.ts
Due: none

feat(ui): add campaign progress tracking and closure UI
  database/migrations/101_campaign_closing_system.sql
  src/frontend/aic-campaigns-dashboard.html
  src/routes/campaign-report.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat(landing): improve LP lead capture and update logos
  src/frontend/aic-landing.html
  src/frontend/aic-lead-capture.html
  src/frontend/assets/AIC/Imagens Vetor /AIC Nome Cheio.png
  src/frontend/assets/AIC/Imagens Vetor /AIC Nome Vaziopng.png
  src/frontend/assets/AIC/Imagens Vetor /AIC Nome Vvazio.png
  src/frontend/assets/AIC/Imagens Vetor /Group 12.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO COMPLETO sem fundo Icone vazio nome cheio.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO Ccompleto sem fundo nome e icone vazios.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO Completo Icone Cheio.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO Completo c: icone vazio.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO Completo sem fundo Icone cheio Nome vazio.png
  src/frontend/assets/AIC/Imagens Vetor /LOGO Completo sem fundo Icone cheio Nome vaziopng.png
  src/frontend/assets/AIC/Imagens Vetor /Logo Completo Branco sem fundo.png
  src/routes/landing-lead.routes.ts
  src/services/landing-lead-capture.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

fix(ts): add param validation in campaign routes
  src/routes/campaign-credentials.routes.ts
  src/routes/campaign-report.routes.ts
  src/services/campaign-report.service.ts
Due: none

chore: update promotion end date from 28/02 to 31/03/2026
  dist/frontend/aic-landing.html
  src/frontend/aic-contrato-prestacao-servicos.html
  src/frontend/aic-landing.html
  src/frontend/cliente-proposta.html
  src/services/contract-pdf.service.ts
  src/services/proposal-pdf.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat(dashboard): optimize multi-campaign dashboard for 10+ campaigns
  CLAUDE.md
  database/migrations/102_my_campaigns_enriched_view.sql
  src/frontend/aic-campaigns-dashboard.html
  src/routes/campaign-credentials.routes.ts
  src/routes/client-campaigns.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: add Instagram publisher and inbound_only campaign status
  database/migrations/103_instagram_scheduled_posts.sql
  database/migrations/104_inbound_only_campaign_status.sql
  src/frontend/aic-instagram-publisher.html
  src/frontend/components/aic-client-sidebar.js
  src/frontend/components/aic-sidebar.js
  src/index.ts
  src/routes/instagram-publish.routes.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, js-syntax-check, no-mock-data, no-secrets

fix(scraper): force kill orphan Chrome processes after CDP timeout
  src/services/instagram-scraper-single.service.ts
Due: none

chore: update promotion end date from 31/03 to 13/03/2026
  src/frontend/aic-landing.html
  src/frontend/cliente-proposta.html
  src/services/contract-pdf.service.ts
  src/services/proposal-pdf.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: unified briefing document scraper + AI agent RAG improvements
  src/frontend/aic-campaign-briefing-v2.html
  src/routes/campaign-credentials.routes.ts
  src/services/briefing-documents-scraper.service.ts
  src/services/landing-lead-capture.service.ts
  src/services/landing-page-scraper.service.ts
Due: frontend-integrity-check, component-version-check, accessibility-quick-check, html-validation, no-mock-data, no-secrets

feat: add inbound_only status support across APIs
  src/routes/campaign-credentials.routes.ts
  src/routes/landing-lead.routes.ts
  src/services/aic-puppeteer-manager.service.ts
  src/services/instagram-oauth.service.ts
Due: none

Path conditions:
  frontend-integrity-check: any of: src/frontend/.*|.*\.md$|tests/.*|playwright\.config\.js
  component-version-check: any of: src/frontend/.*\.html$|src/frontend/.*\.js$
  accessibility-quick-check: any of: src/frontend/.*\.html$
  prevent-critical-changes: any of: MASTER_INTEGRATION_DASHBOARD_TENANT_PLATAFORMA\.md|FRONTEND_INTEGRITY_ASSURANCE_SYSTEM\.md|src/frontend/tenant-business-analytics\.html
  html-validation: any of: src/frontend/.*\.html$
  js-syntax-check: any of: src/frontend/.*\.js$
  no-mock-data: any of: src/frontend/.*\.(js|html)$
  no-secrets: any of: .*\.(js|html|json|md)$
  playwright-test-validation: any of: tests/.*\.spec\.js$
